# Python Datetime() function for Finance

## Work By - **RAVJOT SINGH**

E-Mail - ravjot313@gmail.com

Website - https://ravjot03.github.io/

LinkedIn - https://www.linkedin.com/in/ravjot03/

GitHub - https://github.com/Ravjot03

Medium - https://medium.com/@ravjot03

## Importing datetime package

`datetime` module -

In Python, date and time are not a data type of its own, but a module named datetime can be imported to work with the date as well as time.

Datetime module supplies classes to work with date and time. These classes provide a number of functions to deal with dates, times and time intervals.

In [51]:
from datetime import datetime

#datetime -- Its a combination of date and time along with the attributes year, month, day, hour, minute, second, microsecond, and tzinfo.

In [52]:
black_monday = datetime(1987,10,19)

In [53]:
black_monday

datetime.datetime(1987, 10, 19, 0, 0)

In [54]:
#Type of variable
type(black_monday)

datetime.datetime

## Datetime from string

To create a datetime object from a string.

`datetime.strptime()` -- The strptime() class method takes two arguments:

1.   string (that be converted to datetime)
2.   format code

Based on the string and format code used, the method returns its equivalent datetime object.

In [55]:
black_monday_str = "Monday, October 19, 1987. 9:30 am"
format_str = "%A, %B %d, %Y. %I:%M %p"

datetime.strptime(black_monday_str, format_str)

datetime.datetime(1987, 10, 19, 9, 30)

## String from datetime

To convert datetime objects to its equivalent string.

`datetime.strftime()` -- The strftime() method takes one or more format codes as an argument and returns a formatted string based on it.

In [56]:
great_depression_crash = datetime(1929, 10, 29)
great_depression_crash

datetime.datetime(1929, 10, 29, 0, 0)

In [57]:
great_depression_crash.strftime("%a, %b %d, %Y")

'Tue, Oct 29, 1929'

In [58]:
great_depression_crash.strftime("%B %d %Y")

'October 29 1929'

## Datetime now() function

`datetime.now()` -- It gives the current date and time.

In [59]:
datetime.now()

datetime.datetime(2020, 12, 22, 14, 9, 24, 986547)

### Datetime attributes

In [60]:
datetime.now().year

2020

In [61]:
datetime.now().month

12

In [62]:
datetime.now().day

22

In [63]:
datetime.now().hour

14

In [64]:
datetime.now().minute

9

In [65]:
datetime.now().second

25

## Comparing datetimes

### Comparison operators

1.   Less than `<`
2.   More than `>`
3.   Equal to `==`
4.   Not equal to `!=`

In [66]:
asian_crisis = datetime(1997, 7, 2)
world_mini_crash = datetime(1997, 10, 27)

In [67]:
asian_crisis > world_mini_crash  #Less than

False

In [68]:
asian_crisis < world_mini_crash  #More than

True

In [69]:
asian_crisis != world_mini_crash  #Not equal to

True

In [70]:
text = "10/27/1997"
format_str = "%m/%d/%Y"

sell_date = datetime.strptime(text, format_str)

print(world_mini_crash == sell_date)   #Equal to

True

## Difference b/w datetimes

In [71]:
delta = world_mini_crash - asian_crisis
delta

datetime.timedelta(117)

In Python, when we subtract one datetime from another, the object returned is a `timedelta`, which represents the difference between two times. Timedelta objects have attributes for weeks, days, seconds, and microseconds.

In [72]:
delta.days

117

### Creating relative datetimes

In [73]:
dt = datetime(2020, 1, 26)
dt

datetime.datetime(2020, 1, 26, 0, 0)

We can construct a new datetime, which is 10 days earlier. So, we could use the attributes of the first datetime to calculate a new datetime like this.

In [74]:
datetime(dt.year, dt.month, dt.day - 10)

datetime.datetime(2020, 1, 16, 0, 0)

In [75]:
datetime(dt.year, dt.month, dt.day - 30)

ValueError: ignored

But this method is not recommended. It does not work when the number of days crosses into the next/last month or year. If we subtract more days than the date, this would result in a negative date and so we get an Value error.

Instead of trying to manage the boundaries between days, months and years yourself, we should use `timedeltas` to create relative datetimes.

### Datetime - timedelta class

`timedelta`  --  Python timedelta() function is present under datetime library which is generally used for calculating differences in dates and also can be used for date manipulations in Python.

In [76]:
from datetime import timedelta

To do this, we have to import timedelta from the datetime module and create a timedelta object for the desired offset. 

Now we can specify the timedelta in weeks, days, hours, minutes, seconds, or microseconds. And then subtract the timedelta from our start datetime to get the new offset one.

In [77]:
offset = timedelta(weeks=1)
offset

datetime.timedelta(7)

In [78]:
dt - offset

datetime.datetime(2020, 1, 19, 0, 0)

In [79]:
offset = timedelta(days=30)
offset

datetime.timedelta(30)

In [80]:
dt - offset

datetime.datetime(2019, 12, 27, 0, 0)

`timedelta` will manage crossing temporal boundaries for us. Here we start with the datetime for January 26, 2020 (stored in `dt` variable already), and subtract a timedelta of 30 days. That brings us back to the previous year and month. The resulting datetime has the correct adjusted year, 2019, and month, December, thanks to the to timedelta's understanding of the boundaries.

This is very powerful when we need to calculate re-occurring dates, for weekly financial reports, or when we want to look back at a specific amount of time when trying to understand the causation of market events.